@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

body {
  font-family: sans-serif;
}
h1,h2 { color: rgb(230, 64, 23);}
label{display:block;}

#output {
  font-family: 'Special Elite', cursive;
  font-size: 32px;
  color: maroon;
}